header {
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbar {
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
}

.logo {
    height: auto;
    width: auto;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: none;
    padding: 0;
}

.list_Item {
    list-style: none;
}

.list_Item_A {
    padding: 6px;
    /* border: 1px solid wheat; */
    border-radius: 10px;
    color: wheat;
    text-decoration: none;
    font-size: 3rem;
}

.hidden {
    display: none;
}