@import "/css/navbar.css";
@import "/css/navbar.css";
body {
    /* background-image: url(/img/cool-background1.png);
    background-repeat: no-repeat; */
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}